.blue {
    background-color: #000a93;
}

.aqua {
    background-color: rgb(0, 174, 255);
}
.red {
    background-color: rgb(255, 3, 3);
}
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
$grey: rgba(0, 0, 0, 0.734);

$primary-color: #41ae5c;
$second-color: rgba(65, 174, 92, 0.5);