.contact {
    float: left;
    width: 40%;
    box-shadow: $box-shadow;
    padding: 3em 2em;
    box-sizing: border-box;
    form {
        .group {
            position: relative;
            margin-bottom: 1.5em;
            .message {
                height: 5em;
                overflow: auto;
                cursor: text;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
            input {
                font-size:18px;
                padding:10px 10px 10px 5px;
                display:block;
                width:100%;
                border:none;
                border-bottom:1px solid rgba(0, 0, 0, 0.19);
                &:focus {
                    outline: none;
                }
                &:focus~label,
                &:valid~label {
                    top: -10px;
                    font-size: 14px;
                    color: $primary-color;
                }
                /* active state */
                &:focus~.bar:before,
                &:focus~.bar:after {
                    width: 50%;
                }
                /* active state */
                &:focus~.highlight {
                    -webkit-animation: inputHighlighter 0.3s ease;
                    -moz-animation: inputHighlighter 0.3s ease;
                    animation: inputHighlighter 0.3s ease;
                }
                
            }
            label {
                color: #999;
                font-size: 18px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            
            /* BOTTOM BARS ================================= */
            .bar {
                position: relative;
                display: block;
                width: 100%;
                &:before,
                &:after {
                    content: '';
                    height: 2px;
                    width: 0;
                    bottom: 1px;
                    position: absolute;
                    background: $primary-color;
                    transition: 0.2s ease all;
                    -moz-transition: 0.2s ease all;
                    -webkit-transition: 0.2s ease all;
                }
                &:before {
                    left: 50%;
                }
                &:after {
                    right: 50%;
                }
            }
            
            /* HIGHLIGHTER ================================== */
            .highlight {
                position: absolute;
                height: 60%;
                width: 100px;
                top: 25%;
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }


            /* ANIMATIONS ================ */

            @-webkit-keyframes inputHighlighter {
                from {
                    background: $second-color;
                }
                to {
                    width: 0;
                    background: transparent;
                }
            }

            @-moz-keyframes inputHighlighter {
                from {
                    background: $second-color;
                }
                to {
                    width: 0;
                    background: transparent;
                }
            }

            @keyframes inputHighlighter {
                from {
                    background: $second-color;
                }
                to {
                    width: 0;
                    background: transparent;
                }
            }
        }
        input[type='submit'] {
            width: 115px;
            padding: 1em 0;
            border-radius: 2px;
            text-transform: uppercase;
            color: white;
            text-align: center;
            border: none;
            background: $primary-color;
            box-shadow: $box-shadow;
        }
    }
}
.peta {
    position: relative;
    float: left;
    width: 60%;
    height: 447px;
    #maps {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 2em;
        padding: 0em;
        height: 100%;
        width: 93%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .12),
        0 4px 8px 0 rgba(0, 0, 0, .16);
    }
}
@media only screen and (min-width: 0px) and (max-width:767px) {
    .contact {
        width: 100%;
    }
    .peta {
        width: 100%;
        margin-top: 1em;
        #maps {
            display: block;
            position: absolute;
            top: 8px;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0em;
            height: 100%;
            width: 100%;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .12),
            0 4px 8px 0 rgba(0, 0, 0, .16);
        }
    }
}