$easing: cubic-bezier(.6, .05, .28, .91);

#title {
    color: $dullWhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#btn {
    position: fixed;
    z-index: 5;
    top: 35px;
    left: 35px;
    cursor: pointer;
    transition: left 500ms $easing;
    border: 1px solid rgba(93, 92, 92, 0.52);
    background: rgba(0, 0, 0, 0.06);
    div {
        width: 21px;
        height: 2px;
        margin: 6px;
        background-color: $primary-color;
        transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
    }
}

#btn.active {
    top: 35px;
    left: 270px;
    div {
        background-color: $primary-color;
    }
    #top {
        transform: translateY(8px) rotate(-135deg);
    }
    #middle {
        opacity: 0;
        transform: rotate(135deg);
    }
    #bottom {
        transform: translateY(-8px) rotate(-45deg);
    }
}

#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 250px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: $dullWhite;
    color: $black;
    transition: all 350ms $easing;
    .profil {
        top: 15%;
        position: relative;
        transform: translateY(-50%);
        padding: 30px 20px 0 20px;
        .profil-poto{
            width: 200px;
            height: 200px;
            img {
                border-radius: 50%;
                width: 200px;
                height: 200px;
            }
        }
    }
}

#box.active {
    left: 0px;
    opacity: 1;
}

#items {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    a {
        text-transform: uppercase;
        text-decoration-line: none;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 2em;
        padding: 15px 30px;
        transition: all 250ms;
        &:hover {
            padding: 15px 45px;
            background-color: transparentize($black, .8);
        }
        &:visited {
            color: $black;
        }
    }
}

#btn,
#btn * {
    will-change: transform;
}

#box {
    will-change: transform, opacity;
}
