.vcard {
    width: 100%;
    padding: 1em;
    background-color: rgb(65, 174, 92);
    position: relative;
    overflow: hidden;
    display: table;
    box-shadow: $box-shadow;
    .vcard-pp {
        position: absolute;
        float: right;
        right: 0;
        top: 0;
        z-index: 1;
        .img-responsiv {
            width: 400px;
            height: 350px;
        }
        .slank {
            top: 0;
            float: right;
            z-index: 1;
            position: absolute;
            border-style: solid;
            border-width: 400px 0 0 100px;
            border-color: rgba(223, 50, 50, 0) transparent transparent rgb(65, 174, 92);
        }
        i {
            float: right;
            z-index: 1;
            position: absolute;
            top: 20%;
            border-radius: 50%;
            text-align: center;
            border-radius: 50%;
            padding: 20px;
            color: white;
            background: #00aeff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        }
    }
    .info {
        padding: 1.5em;
        width: 260px;
        height: auto;
        .vcard-header {
            width: 100%;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
            font-weight: 400;
            color: white;
            h1 {
                text-transform: uppercase;
            }
        }
        .vcard-info {
            width: 260px;
            .infos {
                width: 100%;
                ul {
                    display: inline-block;
                    .clearfix {
                        clear: both;
                        content: "";
                        display: table;
                    }
                }
                li {
                    display: inline-block;
                    list-style-type: none;
                    color: white;
                    width: 100%;
                    padding: 0;
                    line-height: 20px;
                    .title {
                        width: 30px;
                        vertical-align: middle;
                        float: left;
                        font-size: 23px;
                        line-height: 22px;
                    }
                    .conten {
                        float: left;
                        font-size: 15px;
                        font-weight: none;
                        font-weight: 400;
                    }
                }
            }
        }
        .info-medsos {
            width: 260px;
            display: inline-block;
            margin-top: 1em;
            height: 100%;
            .btn-medsos {
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
                font-size: 15px;
                font-size-adjust: 100%;
                line-height: 37px;
                width: 37px;
                vertical-align: middle;
                text-align: center;
                height: 37px;
                margin: 5px 10px 0 0;
                color: rgb(255, 255, 255);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
                &:hover {
                    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .16), 0 4px 20px 0 rgba(0, 0, 0, .12);
                }
            }
        }
    }
}

@media only screen and (min-width: 20px) and (max-width: 767px) {
    .vcard {
        overflow: visible;
        padding: 0;
        display: block;
        .vcard-pp {
            position: relative;
            float: none;
            width: 150px;
            margin: 0 auto;
            top: 0;
            z-index: 1;
            .img-responsiv {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-top: -110px;
            }
            .btn {
                display: none;
            }
        }
        .slank {
            display: none;
        }
        .info {
            text-align: center;
            width: 100%;
            .vcard-header,
            .vcard-info {
                margin: 0.5em auto;
            }
            .info-medsos {
                margin: 0 auto;
                width: auto;
                display: inline-block;
            }
        }
    }
}